* {
	padding: 0;
	margin: 0;
}

h3 {
	margin: 15px;
	padding: 15px;
	border: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
	text-align: center;
}

.description {
	text-align: center;
	font-family: system-ui;
	font-size: 12px;
	border-bottom: 1px solid black;
}